{% extends "base.html" %}

{% block title %}
Change password
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-3" style="background-color: #007bff;border: solid 1px;border-radius: 10px;">
        <h1>Change password</h1>
        <form method="POST" action="/change_password">
            <div class="form-group">
                <label for="exampleInputCurrentPassword">Current password</label>
                <input type="password" name="currentPassword" class="form-control" id="exampleInputCurrentPassword" placeholder="Current password" minlength="8" maxlength="100" required>
            </div>
            <div class="form-group">
                <label for="exampleInputNewPassword">New password</label>
                <input type="password" name="newPassword" class="form-control" id="exampleInputNewPassword" placeholder="New password" minlength="8" maxlength="100" required />
            </div>
            <div class="form-group">
                <label for="exampleInputConfirmNewPassword">Confirm new password</label>
                <input type="password" name="confirmNewPassword" class="form-control" id="exampleInputConfirmNewPassword" placeholder="Conforim new password" minlength="8" maxlength="100" required>
            </div>
            <button type="submit" style="margin-bottom: 10px; margin-bottom: 10px; border: solid 2px; border-radius: 10px; color: black;" onmouseover="this.style.color='white'" onmouseout="this.style.color='black'" class="btn btn-outline-primary">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}