{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div class="row justify-content-center mt-2">
    <div class="col-md-4">
        <h3 style="margin-top: 15px; text-align: center; color:white; font-weight: bold;">Welcome!</h3>
    </div>
</div>
<div class="tradingview-widget-container">
    <div id="tradingview_d001e"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": "BTCUSDT",
                "interval": "D",
                "timezone": "Africa/Johannesburg",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": false,
                "container_id": "tradingview_d001e"
            }
        );
    </script>

</div>
<div style="display: flex;">
    <ul class="list-group" style="width: 30%; margin: auto; margin-left: 10px;">
        <

        <!-- {% for i, signal in signals%}
            {% if not signal.closed %}
                <div style="text-align: center; color: white; background-color: #007bff; border-radius: 20px; margin-top: 10px;">
                    <h4 style="text-align: center; color: white";>
                        <table>
                            <tr>
                                <th>id</th>
                                <th>op</th>
                                <th>sl</th>
                                <th>t</th>
                                <th>p</th>
                                <th>closed</th>
                            </tr>
                            <td>{{i + 1}}. </td><td>OP:{{signal.openPrice}} </td><td>SL:{{signal.stopLoss}} </td><td>T:{{signal.target}} </td><td>P:{{signal.percentage}} </td><td>{{signal.closed}}</td>
                        </table>    
                    </h4>
                </div>
            {% endif %}
        {% endfor %} -->
    </ul>

    <ul class="list-group" style="width: 30%; margin: auto; margin-top: 0;">
        {% for i, notification in notifications%}
            <div style="text-align: center; color: white; background-color: #007bff; border-radius: 20px; margin-top: 10px;">
                <h4 style="text-align: center; color: white";>
                    {{i + 1}}. {{notification.information}}
                </h4>
            </div>
        {% endfor %}
    </ul>
    <ul class="list-group" style="width: 30%; margin: auto; margin-right: 10px; margin-top: 10px;">
        {% for i, signal in signals%}
            {% if signal.closed %}
                <div style="text-align: center; color: white; background-color: #007bff; border-radius: 20px;">
                    <h4 style="text-align: center; color: white";>
                        {{i + 1}}. OP:{{signal.openPrice}} SL:{{signal.stopLoss}} T:{{signal.target}} P:{{signal.percentage}} {{signal.closed}}
                    </h4>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}

